{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .noundline {
        text-decoration: none;
    }

    .not-visible {
        display: none;
    }

    h1 {
        color: white;
    }

</style>
<div class="text-center">
    <div class="spinner-border text-primary" role="status" id="spinner"></div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card card-default rounded-0 shadow ">
        <div class="card-header">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <h4 class="card-title fw-bold">Teacher List</h4>
                <div class="tools">
                    <a class="btn btn-info rounded-0 bg-gradient btn-sm" href="{% url 'appO:AddTeacher' %}"
                        title="Add Class"><i class="fa fa-solid fa-plus"></i> Add Teacher
                    </a>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="bg-danger bg-opacity-0 text-light">
                            <th scope="col" class="px-2 py-2 text-center">Nom et Prénoms</th>
                            <th scope="col" class="px-2 py-2 text-center">Gender</th>
                            <th scope="col" class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody id="table-body-box">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="module">
    const spinner = document.getElementById('spinner')
    const tableBody = document.getElementById('table-body-box')
    if ('{{listTeacher}}') {
        setTimeout(() => {
            spinner.classList.add('not-visible')
            tableBody.innerHTML += `
                {% for teacher in listTeacher %}
                    <tr>
                        <td class="text-center">{{ teacher.nom }} {{ teacher.prenom }}</td>
                        <td class="text-center">{{ teacher.gender }}</td>
                        <td class="text-center">
                            <a class="btn btn-outline-info btn-sm view-data" href="{{ teacher.get_absolute_url }}">
                            <i class="fa fa-eye"></i>
                            </a>
                            <a class="btn btn-outline-primary btn-sm edit-data" title="Edit" href="{% url 'appO:UpdateTeacher' teacher.slug %}">
                                <i class="fa fa-edit"></i>
                                </a>
                            <a class="btn btn-outline-danger btn-sm delete-data" title="Delete" href="{% url 'appO:DeleteTeacher' teacher.slug %}">
                                    <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                `
        }, 500)
    } else {
        setTimeout(() => {
            spinner.classList.add('not-visible')
            tableBody.innerHTML += `
                <p>Failed to load data</p>
                `
        }, 500)
    }
</script>
{% endblock %}
